html, body {
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
a {
  color: #76BB22;
}
h1 {
}
h2 {
}
h3 {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
}
input[type="text"], input[type="password"], input[type="file"], textarea, select {
  border: 1px solid #999;
  color: #333;
  font-size: 13px;
  padding: 3px;
}
.header {
  height: 96px;
}
.header-admin {
  color: #636363;
  display: block;
  font-size: 28px;
  font-weight: 400;
  left: 280px;
  position: absolute;
  top: 54px;
}
.header-logo {
  margin: 10px 0 0 10px;
}
.sidebar-cell {
  background-color: #e9e9e9;
  border-right: 1px solid #ccc;
  border-top: 2px solid #86cb32;
  width: 12px;
}
#sidebar {
  font-weight: bold;
  text-transform: uppercase;
  width: 156px;
}
.sidebar {
  padding: 10px;
  width: 156px;
}
.page {
  border-top: 2px solid #86cb32;
  padding: 10px;
}
.page .error {
  background-color: #ffd;
  border: 1px solid #f00;
  margin: 5px;
  padding: 5px;
  width: 300px;
}
.page .success {
  background-color: #ffd;
  border: 1px solid #76bb22;
  margin: 5px;
  padding: 5px;
  width: 350px;
}
table.edit-table td.edit-label {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 13px;
  padding: 3px;
  font-weight: bold;
  vertical-align: top;
}
table.edit-table td.edit-field {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 3px;
  vertical-align: top;
}
#footer {
  border-top: 1px solid #ccc;
  font-size: 11px;
  padding: 10px;
}
