<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fancychatter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FancyChatter</name>
    <description>
      FancyChatter - Get what you want, when you want it!
    </description>
    <author email="chris@fancychatter.com" href="http://cordova.io">
      Chris Vuletich
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="3000" />
</widget>
