* {
  box-sizing: border-box;
}

html, body { -top: 40px; min-height: 100%; }
a { text-decoration: none; }

.main-header  a {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 32px;
  }

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.2s ease;
}


.content {
  padding: 100px 20px 20px 20px;
}
#main-nav:target {
  width: 80%;
}
html {
    margin: 0;
    padding: 46px 0 0 0;
		font-size: 100%;
		background-color: #fff;
		}

body {
		font-size: 62.5%;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		background: #fff;
    margin: 0;
    padding: 0;
		color: #333;
		}
img {
  display: block;
  margin: 15px 0 0 5%;

}
#wrapper {
		width: 950px;
		margin: 0 auto;
		}
		
#header {
		padding-top: 40px;
		width: 100%;
		}
		
p {
		font-size: 1.4em;
		}
		
a:link,		
a:visited {
    color: #51bb4d;
    font-size: 16px;
		text-decoration: none;
		}
		
a:hover, 
a:focus {
  border-bottom: 1px solid #555;
}
label {
  font-size: 16px;
  display: block;
  margin-top: 14px;
  margin-left: 5px;;
  width: 100%;
}
input, textarea, select, button {
  background: #fafafa;
  border-radius: 0;
  display: block;
  margin: 4px auto;
  border: 1px solid #000;
  padding: 0.8em;
  font-size: 16px;
  line-height: 1.1em;
  width: 98%;
  z-index: 9999999;
}
    h2 {
      margin-left: 5px;
      font-size: 22px;
      width: 100%;
    }
    h3,h4 {
      margin-left: 5px;
      font-size: 16px;
      width: 100%;
    }
input:focus, textarea:focus, select:focus {
  border: 1px solid #51bb4d;
  outline: none;
  z-index: 9999999;
}
   
   textarea {
     height: 55px;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(0.05, #fff));
   }
   
   
   input[type=text], input[type=password] {
    display: block;
    margin: 4px auto;
     padding: 0.6em 0.4em;

   }
   
input[type=submit], button {
  background-color: #51bb4d;
  border: 0;
  border-radius: 0;
  color: #fff;
  display: block;
  font-size: 17px;
  line-height: 1.2em;
  margin: 20px auto;
  padding: 0.7em 1em;
  width: 60%;
}
   
   input[type=checkbox],
   input[type=radio] {
    display: block;
    margin: 4px auto;
     display: inline-block;
     font-size: 15px;
     line-height: 1em;
     margin: 0 0.25em 0 0;
     padding: 0;
     width: 1.25em;
     height: 1.25em;
     -webkit-border-radius: 0.25em;
     vertical-align: text-top;
   }
   
   input[type=radio] {
      -webkit-border-radius: 2em;
    }

header {
  background-color: #51bb4d;
  color: #fff;
  font-size: 24px;
  height: 46px;
  padding: 4px 0;
  text-align: center;
  width: 100%;
  position: fixed; 
  top: 0; 
  left; 0;
  /*-webkit-box-shadow: 0 4px 3px -3px #aaa;
  -moz-box-shadow: 0 3px 3px -3px #aaa;
  box-shadow: 0 4px 3px -3px #aaa;*/
}
header .button i{
  color: #fff;
  font-size: 33px;
  position: absolute;
  top: 5px;
  left: 10px;
  height: 30px;
  width: 30px;
  z-index: 5;
}
#alerts a {
  color: #000;
  font-size: 14px;
}
#livechatter {
  font-size: 14px;
}
#livechatter h2 {
  margin: 10px 0 0 5px;
}
#livechatter h3 {
  font-size: 12px;
  fontt-weight: normal;
  margin: 0 5px;
}
#livechatter #livechatter-results-table a {
  font-size: 13px;
}
#livechatter .livechatter-results-row img {
  margin: 0;
}
#livechatter .livechatter-results-row td {
  border-bottom: 1px solid #ccc;
  font-size: 13px;
}
#livechatter .livechatter-results-header td {
  border-bottom: 1px solid #ccc;
  font-size: 13px;
}
.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  z-index: 20;
  transition: width 0.2s ease;
}
.main-nav  a {
    color: #fff !important;
    display: block;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    padding: 15px;
}
.main-nav a:hover, .main-nav:focus {
  background: linear-gradient(#484848, #383838);
}
.main-nav:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
}
.dialog {
  background-color: #eee;
  border: 1px solid #666;
  border-radius: 6px 6px;
  display: none;
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 10001;
  -moz-box-shadow: 0px 0px 6px #000;
  -webkit-box-shadow: 0px 0px 6px #000;
  box-shadow: 0px 0px 6px #000;
}
.dialog-body {
  padding: 4px;
}
.dialog-body input, textarea {
  margin: 4px;
  width: 290px;
}
.dialog-body input[type='hidden'] {
  height: 0;
  margin: 0;
  padding: 0;
}
.dialog-body p {
  font-size: 12px;
}
.dialog-body textarea {
  height: 100px;
  width: 100%;
}
.dialog-body button {
  margin: 4px;
}
.dialog-blanket {
  background-color: #333;
  background-color: gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255,255,255,.5) 25px, rgba(255,255,255,.5) 50px);
  display: none;
  height: 100%;
  left: 0px;
  opacity: .3;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10000;
}
.dialog-close {
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 8px;
  top: 6px;
}
.dialog-header {
  background-color: #bababa;
  background: -moz-linear-gradient(top, #eeeeee 0%, #bababa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#bababa));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#bababa 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#bababa 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#bababa 100%);
  background: linear-gradient(to bottom, #eeeeee 0%,#bababa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#bababa',GradientType=0 );
  border-bottom: 1px solid #999;
  border-radius: 6px 6px 0 0;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
  width: 100%;
}
.main-nav .close-menu {
  background: none;
  border: 0;
  cursor: pointer;
  float: right;
  margin: 0;
  padding: 0;
}
.main-nav .close-menu:hover {
  background: none;
  border: 0;
  margin: 0;
}
